.toggle {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  cursor: pointer;

  input {
    opacity: 0;
    width: 0;
    height: 0;
    
    &:checked + .slider {
      background-color: #6C757D;
      
      &:before {
        transform: translateX(16px);
      }
    }
    
    &:focus + .slider {
      box-shadow: 0 0 1px #6C757D;
    }
  }

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
    
    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      border-radius: 50%;
      transition: 0.4s;
    }
  }
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 120px;
  height: 4px;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  background: #6C757D;
  border-radius: 2rem;
}

input[type="range"]::-moz-range-track {
  height: 4px;
  background: #6C757D;
  border-radius: 2rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background: #6C757D;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-top: -5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
}

input[type="range"]::-moz-range-thumb {
  height: 14px;
  width: 14px;
  background: #6C757D;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px rgba(108, 117, 125, 0.3);
}