.ol-control {
    background-color: transparent;

    button {
        transition: opacity .2s ease-in-out;

        &:hover {
            opacity: .8;
        }
    }
}

.ol-geocoder.gcd-gl-container {
    top: 10.5rem;
    left: auto;
    right: 0.5rem;
    max-width: 320px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
    font-size: 1rem;

    .gcd-gl-control.ol-control {
        background-color: transparent;

        .gcd-gl-input {    
            font-size: 1rem;
            width: 12rem;
        }

        .gcd-gl-btn {
            left: .15rem;
            transition: opacity .2s ease-in-out;

            &:hover {
                opacity: .8;
            }
        }

        .gcd-gl-search {
            position: absolute;
            top: -.25rem;
            right: 2.5rem;
        }
    }
}

.gcd-gl-control.ol-control.gcd-gl-expanded {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: .5rem;
    width: 100%;

    input {
        border-radius: .5rem;
    }

    button, input, a {
        position: static;
    }
}